<form action="/create" method="post">
    <input type="text" placeholder="名前" name="firstName">
    <input type="text" placeholder="苗字" name="lastName">
    <input type="text" placeholder="e-mail" name="email">
    <input type="submit" value="登録する">
</form>